GROQ_API_KEY=your_groq_api_key_here
SAMBANOVA_API_KEY=your_sambanova_api_key_here
CEREBRAS_API_KEY=your_cerebras_api_key_here
CHAINLIT_AUTH_SECRET=your_chainlit_auth_secret_here
SEMANTIC_SCHOLAR_API_KEY=your_semantic_scholar_api_key_here
CEREBRAS_CONCURRENCY=1
SAMBANOVA_CONCURRENCY=1
GROQ_CONCURRENCY=1
